<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Haley.Abstractions" version="1.2.4" targetFramework="net472" />
  <package id="Haley.Extensions" version="2.3.3" targetFramework="net472" />
  <package id="Haley.Helpers" version="2.3.4" targetFramework="net472" />
  <package id="Haley.IOC" version="3.0.21" targetFramework="net472" />
  <package id="Haley.MVVM" version="6.5.2" targetFramework="net472" />
  <package id="Haley.WPF" version="5.5.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.68.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="9.0.2" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.2" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.2" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.6.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.2" targetFramework="net472" />
  <package id="System.Management" version="9.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="9.0.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.2" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>